* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  /* SECTION ANIMATION */
section {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

section.show {
  opacity: 1;
  transform: translateY(0);
}
  
  body {
    background: #0b0f19;
    color: #e5e7eb;
    line-height: 1.7;
    scroll-behavior: smooth;
  }
  
  .container {
    max-width: 900px;
    margin: auto;
    padding: 60px 20px;
  }
  
  h1 {
    font-size: 42px;
    color: #ff9900;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 50px;
    margin-bottom: 15px;
    color: #facc15;
  }
  
  p {
    margin-bottom: 15px;
    color: #cbd5e1;
  }
  
  /* Anchor Navigation */
  .anchor-nav {
    background: #111827;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  
  .anchor-nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #ff9900;
    font-size: 14px;
  }
  
  .anchor-nav a:hover {
    color: #facc15;
  }
  
  /* Info Box */
  .info-box {
    background: #1f2937;
    padding: 20px;
    border-left: 5px solid #ff9900;
    border-radius: 8px;
    margin: 20px 0;
  }
  
  /* Code Block */
  pre {
    background: #111827;
    padding: 20px;
    border-radius: 10px;
    overflow-x: auto;
    margin-top: 20px;
    color: #00ffcc;
  }
  
  /* Bottom Navigation */
  .bottom-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  
  .btn {
    padding: 12px 25px;
    text-decoration: none;
    background: #ff9900;
    color: white;
    border-radius: 6px;
    transition: 0.3s;
  }
  
  .btn:hover {
    background: #facc15;
  }
  
  /* Go To Top Button */
  #topBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 12px 18px;
    background: #ff9900;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    font-size: 18px;
    transition: 0.3s;
  }
  
  #topBtn:hover {
    background: #facc15;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #334155;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background: #1e293b;
    color: #ffcc00;
  }

  /* QUIZ SECTION */
.quiz-question {
  margin-top: 25px;
  padding: 20px;
  background: #111827;
  border-radius: 10px;
}

.quiz-question button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #1f2937;
  border: none;
  color: #e5e7eb;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.quiz-question button:hover {
  background: #334155;
}

.explanation {
  display: none;
  margin-top: 15px;
  color: #22c55e;
}